---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: '61578052318160' // NZ Wild Oysters
    },
    // {
    //     type: 'facebook',
    //     pageId: 'mussels.692853' // SJK Mussels
    // }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Agriculture, Forestry & Fishing</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
