---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: 'tkcommunityhouse' // Te Kauwhata Community House
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Community</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
