---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: '100088837742477' // Jay & Co.
    },
    {
        type: 'facebook',
        pageId: 'SabinesCraftyCorner' // Sabine's Crafty Corner
    },
    {
        type: 'facebook',
        pageId: 'tag3d.nz' // Tag 3D
    },
    {
        type: 'facebook',
        pageId: 'LnLWoodcraft' // L&L Woodcraft
    },
    {
        type: 'facebook',
        pageId: '61563822358153' // Vix Nic Knax
    },
    {
        type: 'facebook',
        pageId: '61575783213012' // Aranui Essence
    },
    {
        type: 'facebook',
        pageId: '61572477021352' // Amani's Coconut Hut
    },
    // {
    //     type: 'facebook',
    //     pageId: 'daph.s.creations' // Daph's Creations
    // },
    // {
    //     type: 'facebook',
    //     pageId: '61557905711131' // Moo's Creations
    // }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Arts, Crafts, Entertainment & Media</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
