---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'tile',
        title: 'Barber1an',
        description: "Barber1an",
        imageUrl: 'https://scontent.fakl2-1.fna.fbcdn.net/v/t39.30808-6/591483094_1269193725226077_6320759388531670414_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=L8ZSwpQOz88Q7kNvwED4cej&_nc_oc=AdlwUKkbaEboHLWX9w79IIpUOlLfcp93t8i9lmn8u6ALYBzxDNSafQnuurvnD0ZMuaM&_nc_zt=23&_nc_ht=scontent.fakl2-1.fna&_nc_gid=9wPoi8h_401N5Xmgg89tCQ&oh=00_AfqQYaHpF-784Bk91KxXOoCyb0tMN9nRqavoBlJcft-hdw&oe=69772EA7',
        link: 'https://barber1an.setmore.com/'
    },
    {
        type: 'facebook',
        pageId: '61572614770331' // Streakers Window Cleaning
    },
    {
        type: 'facebook',
        pageId: 'HytecHomeCleaning' // Hytec Home Cleaning
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Professional Services</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
