---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: 'barber1an' // Tom Edwards Raiona Barbers
    },
    {
        type: 'facebook',
        pageId: '61572614770331' // Streakers Window Cleaning
    },
    {
        type: 'facebook',
        pageId: 'HytecHomeCleaning' // Hytec Home Cleaning
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Professional Services</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
