---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const locality = 'Te Kauwhata';

const explainer = `
Welcome to Te Kauwhata NearbyNest. Find the latest news, events, and information about what's happening in your community.
`;

---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">{locality} NearbyNest</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
</Layout>
