---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: '61570835041855' // Lakeside Cafe
    },
    {
        type: 'facebook',
        pageId: '61558588630515' // Flippin Burger
    },
    {
        type: 'facebook',
        pageId: 'MikaylaCakeDeco' // Fergulisious Cakery
    },
    {
        type: 'facebook',
        pageId: '61570555507736' // Cookie Castle
    },
    // {
    //     type: 'facebook',
    //     pageId: 'shannons.coffee.and.donuts' // Shannon's Coffee & Donuts
    // },
    {
        type: 'facebook',
        pageId: 'thefarmshopnz' // The Farm Shop
    },
    {
        type: 'facebook',
        pageId: '61579204954334' // KD's Beans & Cream
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Food Services</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
