---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: 'foodtrucksocialnz' // Food Truck Social NZ
    },
    {
        type: 'facebook',
        pageId: 'tklocalsmarket' // Te Kauwhata Locals Market
    },
    {
        type: 'facebook',
        pageId: '100067705931222' // Toi Ako Te Kauwhata
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Events</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
