---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';

const items = [
    {
        type: 'facebook',
        pageId: 'StAndrewsOpshop' // St. Andrew
    },
    {
        type: 'facebook',
        pageId: '100054378257756' // Aparangi House of Treasures
    }
] as const;
---

<Layout title="Te Kauwhata NearbyNest">
    <h1 class="mb-10">Charity</h1>
    <main>
        <Carousel items={items} />
    </main>
</Layout>
